<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script id="bre_template" type="text/x-handlebars-template">
    {% raw %}
    <h4 class="task-head1 centered"><strong>{{ Text }}</strong></h4>
    <p class="centered">Оригінальна стаття: <a href="{{ WikipediaLink }}">{{ WikipediaTitle }}</a></p>
    <h4 class="task-head centered"> Вкажіть, чи текст містить твердження <strong>{{ Subject }}</strong> <strong>{{ Predicate }}</strong> <strong>{{ Object }}</strong></h4>

    <div class="btn-group-vertical selection" role="group">
	<button type="button" class="btn btn-primary btn-lg" data-value="Follow"><span class="pull-left">Містить</span> <span class="pull-right">[1]</span></button>
	<button type="button" class="btn btn-danger btn-lg" data-value="Can't guess"><span class="pull-left">Не явно</span> <span class="pull-right">[2]</span></button>
        <button type="button" class="btn btn-danger btn-lg" data-value="Not follow"><span class="pull-left">Не містить</span> <span class="pull-right">[3]</span></button>
        <button type="button" class="btn btn-info btn-lg" data-value="Not sentence"><span class="pull-left">Не є реченням</span> <span class="pull-right">[4]</span></button>
	</div>
    {% endraw %}
</script>

<div id="out">
    <input type="hidden" name="result" value="" />
</div>

