<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script id="bre_template" type="text/x-handlebars-template">
    {% raw %}
    <h4 class="task-head1 centered" id="text"><strong>{{ Text }}</strong></h4>
    <p class="centered">Оригінальна стаття: <a href="{{ WikipediaLink }}">{{ WikipediaTitle }}</a></p>
    <h4 class="task-head centered"> Вкажіть, чи текст містить твердження:
        <span class="subject">{{ Subject }}</span> - {{ Predicate }} - <span class="object">{{ Object }}</span>
    </h4>

    <div class="btn-group-vertical selection" role="group">
        <button type="button" class="btn btn-primary btn-lg" data-value="has"><span class="pull-left">Містить</span> <span class="pull-right">[1]</span></button>
        <button type="button" class="btn btn-danger btn-lg" data-value="weak"><span class="pull-left">Не явно</span> <span class="pull-right">[2]</span></button>
        <button type="button" class="btn btn-danger btn-lg" data-value="donthas"><span class="pull-left">Не містить</span> <span class="pull-right">[3]</span></button>
        <button type="button" class="btn btn-info btn-lg" data-value="not"><span class="pull-left">Не є реченням</span> <span class="pull-right">[4]</span></button>
	</div>
    {% endraw %}
</script>

<div id="out">
    <input type="hidden" name="result" value="" />
</div>

