<h3>Про завдання</h3>

<p>Система запропонує текст та з'вязок між двома об'єктами з тексту. Потрібно вказати, чи є цей зв'язок в тексті.</p>

<p>Зв'язки представлені у вигляді триплетів суб'єкт - предикат - об'єкт. Предикат - це певна властивість суб'єкта.
    В нашому випадку ми беремо властивості, які є посиланнями на інші об'єкти.</p>

<p>Поки що ми перевіряємо зв'язок типу батько/мати. Тобто чи суб'єкт є сином/дочкою об'єкта. "батько Друз Молодший - Тиберій" означає, що батько Друза - Тиберій</p>

<p>Якщо зв'язок незрозумілий або текст дуже великий або ви розбираєтеся в тексті більше хвилини - просто обирайте 3. Не парьтеся.</p>

<p>Приклад наявності зв'язку, "<strong>батько Друз Молодший - Тиберій</strong>":</p>

<pre>Ірод Агріппа I виховувався в Римі разом з сином імператора Тиберія — Друзом Молодшим та майбутнім імператором Клавдієм.</pre>

<p>Приклад відсутності зв'язку, "<strong>батько Арнульф III Фландрський - Бодуен VI Фландрський</strong>":</p>

<pre>Тоді Гертруда другим шлюбом вийшла заміж за Роберта I Фризького, брата графа Фландрії й Ено Бодуена VI, розділивши з ним управління Голландією. Після смерті брата у 1070 році Роберт організував повстання проти малолітніх племінників, Арнульфа III та Бодуена II, що перебували під опікою матері.</pre>

<p>В цьому реченні згадуються родинні зв'язки, але вони дуже заплутані і не варті нашої уваги.</p>

<p>Приклад неявного зв'язку, "<strong>батько Селямет I Ґерай - Девлет I Ґерай</strong>":</p>

<pre>Син Мубарека Ґерая, онук Девлета I Ґерая. Названий син Селямета I Ґерая.</pre>

<p>Тут батьківсто випливає з нашого знання, що якщо Z є онуком Х та сином Y, то Y - син X. Ми спробуємо натренувати екстрактор таких зв'язків, але скоріш за все, що їх неможливо екстрагувати атоматично.</p>

<p>Приклад неявного зв'язку, "<strong>батько Беатріс - Ендрю, герцог Йоркський</strong>":</p>

<pre>
    Вона стала другою донькою Ендрю, герцога Йоркського, та Сари Ферґюсон, а також шостою з онуків королеви Єлизавети II та Філіпа Едінбурзького. За два роки перед цим на світ з'явилась її старша сестра Беатріс.
</pre>

<p>Це інший приклад, мова йде про Z, яка є дочкою X і сестрою Y. Ми можемо зрозуміти, що з цього випливає, що Y є дочкою X також. Але такий зв'язок є неявним.</p>

<p>Великі незрозумілі тексти можна відкидати і не витрачати на них час. </p>

<pre>
    Але Карл Філіп, відповідно до закону про спадкування 1979 року, який набрав чинності 1 січня 1980 року (конституційна реформа щодо порядку престолонаслідування згідно з принципом первородства), став другим у черзі спадкування трону після своєї старшої сестри Кронпринцеси Вікторії, а після народження у Вікторії доньки в лютому 2012 року (його племінниці Принцеси Естель) — третім. Однак, в черговості спадкування трону Співдружності Націй він випереджує свою молодшу сестру Принцесу Мадлен, старшу сестру Вікторію та племінницю Естель, перебуваючи на 204 місці, оскільки Великобританія віддає перевагу чоловікам в порядку престолонаслідування (принцип майорату)
</pre>

<p>Тексти екстраговані з Вікіпедії, тому іноді серед них зустрічаються частини вікітаблиць, які не є реченнями. Такі записи треба помічати опцією "Не є реченням".</p>

<p>Також зустрічаються тексти з іншомовною лексикою, типу:  </p>

<pre>Сомон Сумбер входить до складу аймаку Говь-Сумбер. Центром сомону є місто Чойр.</pre>

<p>Такі тексти теж варто помічати як "не є реченням". Так само тексти повністю російською.</p>

<p>Так само не є реченням:</p>

<pre>Селецька волость — Пружанського повіту Гродненської губернії;</pre>

<p>Так як ми визначали наявність об'єкту в тексті за посиланням на нього, можуть зустрічатися такі речення: </p>

<pre>«Формула кохання» — радянський телефільм 1984 року режисера Марка Захарова.</pre>

<p>В цьому реченні слово радянський має посилання на статтю СРСР, тому ми визначили його як об'єкт, але насправді об'єктом воно не є. Тому такі речення також треба помічати опцією "Не є реченням".</p>
