<h3>Про завдання</h3>

<p>Система запропонує текст та з'вязок між двома об'єктами з тексту. Потрібно вказати, чи є цей зв'язок в тексті.</p>

<p>Зв'язки представлені у вигляді триплетів суб'єкт - предикат - об'єкт. Предикат - це певна властивість суб'єкта.
    В нашому випадку ми беремо властивості, які є посиланнями на інші об'єкти.</p>

<p>Такого роду представлення властивостей іноді може некорректно звучати українською. Наприклад, "Віпсанія Юлія - мати - Юлія Старша" означає, що
    властивість "мати" суб'єкту Віпсанія Юлія вказує на об'єкт Юлія Старша. Простими словами, Юлія Старша є мати Віпсанія Юлія, а не навпаки.
    Ще приклад: Bank of America - дочірня компанія - Merrill Lynch. Тут саме Merrill Lynch є дочірньою компанією Bank of America.</p>

<p>Приклад наявності зв'язку, "<strong>Верона (провінція) - містить адміністративно-територіальну одиницю - Гарда (провінція Верона)</strong>":</p>

<pre>Гарда, Ґарда — муніципалітет в Італії, у регіоні Венето, провінція Верона</pre>

<p>Приклад відсутності зв'язку, "<strong>Кент - містить адміністративно-територіальну одиницю - Медвей (район)</strong>":</p>

<pre>Римляни висадилися у Кенті та розгромили у битвах при Медвеї та Темзі дві армії катувеллаунів, які очолювали королі Каратак та Тогодумн.</pre>

<p>Приклад відсутності зв'язку, текст повинен містити об'єкт Іспанія явно, "<strong>Ель-Барко-де-Авіла - країна - Іспанія</strong>":</p>

<pre>Назва була дана на честь іспанського міста Ель-Барко-де-Авіла.</pre>

<p>Приклад неявного зв'язку, "<strong>Девід Рокфеллер - член - Тристороння комісія</strong>":</p>

<pre>З 1973 до 1976 р. брав участь у заснуванні Тристоронньої комісії разом з Девідом Рокфеллером і став її директором.</pre>

<p>Підтвердження такого зв'язку вимагає певної дедукції. Ми спробуємо натренувати екстрактор таких зв'язків, але скоріш за все, що їх неможливо екстрагувати атоматично.</p>

<p>Тексти екстраговані з Вікіпедії, тому іноді серед них зустрічаються частини вікітаблиць, які не є реченнями. Такі записи треба помічати опцією "Не є реченням".</p>

<p>Також зустрічаються тексти з іншомовною лексикою, типу:  </p>

<pre>Сомон Сумбер входить до складу аймаку Говь-Сумбер. Центром сомону є місто Чойр.</pre>

<p>Такі тексти теж варто помічати як "не є реченням".</p>

<p>Так само не є реченням:</p>

<pre>Селецька волость — Пружанського повіту Гродненської губернії;</pre>

<p>Так як ми визначали наявність об'єкту в тексті за посиланням на нього, можуть зустрічатися такі речення: </p>

<pre>«Формула кохання» — радянський телефільм 1984 року режисера Марка Захарова.</pre>

<p>В цьому реченні слово радянський має посилання на статтю СРСР, тому ми визначили його як об'єкт, але насправді об'єктом воно не є. Тому такі речення також треба помічати опцією "Не є реченням".</p>